@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
    font-family: Orienta;
}

#login-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #5f75a0;
    background: linear-gradient(0deg, #3f4e6a 7%, #5f75a0 96%);
    z-index: 100;
}

#login-screen .container {
    position: relative;
    margin: 0;
    padding: 20px;
    padding-right: 40px;
    background: #ddd;
    border: 1px solid black;
    border-radius: 25px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    width: 256px;
    height: 280px;
}

#login-screen h1 {
    text-align: center;
    font-size: 1.05rem;
    font-family: 'Orienta', sans-serif;
}

#login-screen h3 {
    text-align: center;
    margin: 0;
    margin-top: -10px;
    font-size: 0.65rem;
    font-family: 'Orienta', sans-serif;
}

#login-screen h4 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 0.9rem;
    font-family: 'Orienta', sans-serif;
}

.input_fields {
    width: 100%;
}

#login-screen .input_fields input {
    display: block;
    padding: 8px;
    width: 100%;
    border: 1px solid #000;
    font-size: 1rem;
}

#login-screen button {
    cursor: pointer;
    background: #fff;
    border: 1px solid #000;
    padding: 2px;
    margin-top: 20px;
    width: 25%;
    float: right;
    margin-right: -18px;
}

#login-screen button:hover {
    background: #ddd;
}

#header {
    height: 128px;
    background: #5f75a0;
    background: linear-gradient(0deg, #3f4e6a 7%, #5f75a0 96%);
    display: flex;
}

#header a {
    cursor: pointer;
    align-self: flex-end;
    padding: 2px 4px;
    text-decoration: none;
    color: #202488;
    min-width: 100px;
    text-align: center;
    font-size: 1.15rem;
    font-family: 'Orienta', sans-serif;
    background-color: #ddd;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid #000;
}

#header .selected {
    border-bottom: none !important;
}


#content {
    padding: 42px;
    padding-top: 28px;
}

.tab {
    display: none;
}

.selected {
    display: block !important;
}

.filter_box {
    border: 1px solid black;
    width: 100%;
    height: 24px;
    overflow: hidden;
    margin-bottom: 28px;
}

.filter_box button {
    display: inline;
    height: 24px;
    float: left;
    background: #eee;
}

.filter_box span {
    padding: 3px;
    display: block;
    height: 24px;
    background: #fff;
}

.scrollable_table {
    min-height: 512px;
    max-height: 620px;
    width: 100%;
    overflow-y: scroll;
    border: 1px solid black;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollable_table::-webkit-scrollbar { 
    display: none; 
}


.scrollable_table table tr th {
    position: sticky; top: 0; z-index: 1;
    background: #336c95;
    color: #fff;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
  max-width: 256px;
  overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

tr:hover td {
  cursor: pointer;
}

tr:active td {
  white-space: pre-wrap !important;
}

tr {
  background: #fff;
  border-bottom: 1px solid #ddd;
  color: #000;
  font-family: monospace;   
  font-size: 0.75rem;
}

tr:hover {
    background: #f9f9f9;
}





